@use "./variables" as userV;

// BLOG MEDIA QUERY 1150px
@media (max-width: 1150px) {
    // SECTION: BLOG HEADER STYLNIG
    .blogHeader {
        height: auto;

        .desktopPageHeading {
            width: 100%;
        }
    }
    // SECTION: BLOG MAIN STYLING
    .blogMain {
        background-color: userV.$darkTurquoise;
        padding: 100px 0 0 0;
    }

    // SECTION OUR NEW COLLECTION STYLNIG
    .ourNewCollection {
        padding: 0 0 25px 0;
        width: 100%;
        border: none;
        margin: 0 0 0 0;

        .imgContainer {
            position: static;
            margin: 0 auto;
            img {
                box-shadow: none;
                object-fit: cover;
            }
        }
        .blogTextContainer {
            width: 100%;
            margin: 50px 0 0 0;
        }
    }

    // SECTION: OUR MISSION STYLING
    .ourMission {
        width: 100%;
        position: static;
        padding: 25px 0 100px 0;

        .mobileContainerFlex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .imgContainer {
            top: 0;
            width: 47.5%;
        }
        .blogTextContainer {
            width: 47.5%;
        }
    }
    // SECTOIN: COMMENTS STYLING
    .comments {
        width: 100vw;
        background-color: userV.$lightSkyBlue;
        padding: 0 0 50px 0;
    }
}

// BLOG MEDIA QUERY 800px
@media (max-width: 800px) {
    .blogMain {
        padding: 10px 0 0 0;
    }
    // SECTION: BLOG HEADER STYLING
    .blogHeader {
        h2 {
            display: none;
        }
    }
    .mobilePageHeader {
        display: block;
    }

    // SECTION: OUR MISSION STYLING
    .ourMission {
        padding: 0 0 50px 0;

        .mobileContainerFlex {
            flex-direction: column;
        }
        .imgContainer {
            width: 100%;
        }
        .blogTextContainer {
            margin-top: 50px;
            width: 100%;
        }
    }

    // SECTION: COMMENTS STYLNIG
    .comments {
        width: 100%;
        .imgContainer {
            width: 15%;
        }
    }
}
