@use "./variables" as userV;

// BLOG HEADER STYLING
.blogHeader {
    background: url(../textileeAssets/blogHeader.jpg) no-repeat;
    height: 568px;
    position: relative;
}
.desktopPageHeading {
    margin: 125px 0;
    width: 575px;
}
