@use "./variables" as userV;

//IMAGE DROP SHADOW
// COMMENTING PREVIOUS SHADOW STYLING OUT TO TEST NEW IMPLEMENTATION METHOD
// .imgShadowR {
//     box-shadow: 15px 15px userV.$turquoiseBlue;
// }

// .imgShadowL {
//     box-shadow: -15px 15px userV.$turquoiseBlue;
// }

// //IMAGE DROP SHADOW LARGER OFFSET
// .imgLargerShadowR {
//     box-shadow: 27px 28px 0 -9px userV.$turquoiseBlue;
// }

// .imgLargerShadowL {
//     box-shadow: -27px 28px 0 -9px userV.$turquoiseBlue;
// }

// --------------------------------------------------------------------------------

.imgContainer {
    position: relative;
    .imgShadowTestR {
        width: 100%;
        height: 100%;
        background-color: userV.$turquoiseBlue;
        position: relative;
        left: 15px;
        top: 15px;
        // padding: 100px;
    }
}
