@use "./variables" as userV;

// CONTACT HEADER STYLING
.contactHeader {
    background: url(../textileeAssets/contactHeader.jpg) no-repeat;
    height: 576px;
    position: relative;
    h2 {
        margin: 125px 0;
        width: 575px;
    }
}
