@use "./variables" as userV;

.contactHeader {
    background: url(../textileeAssets/contactHeader.jpg) no-repeat;
    padding: 30px 0 0 0;
    height: 576px;

    h2 {
        margin: 125px 0;
        width: 575px;
    }
}
