@use "./variables" as userV;

@media (max-width: 800px) {
    .commentForm {
        gap: 75px;
        .userInformation {
            flex-direction: column;
            input {
                width: 100%;
            }
        }
        input,
        textarea {
            padding: 15px;
        }
    }
}
