@use "./variables" as userV;

// COMMENT FORM STYLING
.commentForm {
    display: flex;
    flex-direction: column;
    gap: 25px;

    // INPUT AND TEXTAREA STYLING
    input,
    textarea {
        background-color: inherit;
        padding: 25px;
        border: 1px solid userV.$turquoiseBlue;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    // INPUT BOX FOR NAME AND EMAIL ADDRESS
    .userInformation {
        width: 100%;
        display: flex;
        gap: 10%;
        input {
            width: 45%;
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    // USER COMMENT INPUT AREA STYLING
    textarea {
        resize: none;
    }

    // SUBMISSION BUTTON STYLING
    button {
        padding: 9px 0;
        border: none;
    }
}

// FORM THEMES (LIGHT)
.fLight {
    input,
    textarea {
        background-color: inherit;
    }
    input:focus::placeholder,
    textarea:focus::placeholder {
        color: userV.$darkSlateBlue;
        opacity: 0.9;
    }
    .tPlaceholder,
    .tPlaceholder:focus {
        color: userV.$darkSlateBlue;
    }
}

// FORM THEMES (DARK)
.fDark {
    input,
    textarea {
        background-color: userV.$darkTurquoise;
    }
    input:focus::placeholder,
    textarea:focus::placeholder {
        color: userV.$white;
        opacity: 0.9;
    }
    .tPlaceholder,
    .tPlaceholder:focus {
        color: userV.$white;
    }
}
