@use "./variables" as userV;

//GENERAL STYLING
html {
    font-size: 62.5%;
    max-width: 1600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

//IMAGE DROP SHADOW
.imgShadowR {
    box-shadow: 15px 15px userV.$turquoiseBlue;
}

.imgShadowL {
    box-shadow: -15px 15px userV.$turquoiseBlue;
}

//BUTTON STYLES
.bDark {
    color: userV.$white;
    background: userV.$darkSlateBlue;
}

.bDark:visited {
    color: userV.$white;
}

.bLight {
    color: userV.$textBlack;
    background: userV.$lightSkyBlue;
}
