@use "./variables" as userV;

//GENERAL STYLING
html {
    font-size: 62.5%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: black;
}

//WRAPPER STYLES
.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

@media (max-width: 1150px) {
    .tabletWrapper {
        max-width: 80%;
        margin: 0 auto;
    }
}

// IMG STYLE

img {
    max-width: 100%;
    display: block;
}

// LIST STYLE REMOVER
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

// LIST STYLE APPLYER (ADD CLASS TO ul)
.listStyle {
    margin: 10px 0 10px 30px;
    li {
        list-style: disc;
        padding-left: 5px;
    }
}

//IMAGE DROP SHADOW
.imgShadowR {
    box-shadow: 15px 15px userV.$turquoiseBlue;
}

.imgShadowL {
    box-shadow: -15px 15px userV.$turquoiseBlue;
}

//IMAGE DROP SHADOW LARGER OFFSET
.imgLargerShadowR {
    box-shadow: 27px 28px 0 -9px userV.$turquoiseBlue;
}

.imgLargerShadowL {
    box-shadow: -27px 28px 0 -9px userV.$turquoiseBlue;
}
