@use "./variables" as userV;

// HEADER STYLES
.indexHeader {
    background: url(../textileeAssets/headerHome.jpg) no-repeat;
    padding: 30px 0 0 0;
    height: 755px;
    position: relative;

    h2 {
        margin: 70px 0;
        width: 575px;
    }
    .imgContainer {
        position: relative;
        left: 0%;
        width: 100%;
        img {
            width: fit-content;
        }
    }
}
