@use "./variables" as userV;

@media (max-width: 1350px) {
    .discovery {
        position: static;
        .itemContainerFlex {
            align-items: center;
            gap: 5%;
        }
        .itemContainer {
            width: 47.5%;
        }
        .imgContainer {
            position: static;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1150px) {
    .gallery,
    .moreInformation,
    .discovery,
    .searchByStyle {
        padding: 100px 0 100px 0;
    }

    .indexHeader {
        height: auto;
        padding: 30px 0 1px 0;

        h2 {
            width: 100%;
        }

        .imgContainer {
            display: none;
        }
    }

    .learnNewTechniques {
        .itemContainerFlex {
            flex-flow: column;
            padding: 100px 0 100px 0;
            .indexTextContainer {
                text-align: center;
                max-width: 100%;
            }
        }
        .indexTextContainer {
            order: 2;
        }
        .imgContainer {
            order: 1;
            margin-bottom: 50px;
        }
    }

    .moreInformation {
        .itemContainerFlex {
            flex-flow: column;
            .itemContainer {
                width: 100%;
            }
        }
    }
    .discovery {
        .itemContainerFlex {
            flex-flow: column;

            .itemContainer:nth-child(1) {
                order: 1;
            }
            .itemContainer:nth-child(2) {
                order: 2;
            }
            .itemContainer:nth-child(3) {
                order: 4;
            }
            .itemContainer:nth-child(4) {
                order: 3;
                padding: 75px 0 0 0;
            }

            .itemContainer {
                width: 100%;
                padding: 20px 0;

                .indexTextContainer {
                    text-align: center;
                    padding: 5% 0;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .indexHeader {
        h2 {
            display: none;
        }
    }
    .gallery {
        .galleryFlex {
            flex-flow: column;
            gap: 75px;
            align-items: center;
            // justify-content: space-between;
            // .imgContainer {
            //     display: flex;
            //     justify-content: center;
            // }
        }
    }
}
