@use "./variables" as userV;

// INDEX MEDIA QUERY 1350px
@media (max-width: 1350px) {
    // SECTION: DISCOVER STYLING
    .discover {
        position: static;
        .itemContainerFlex {
            align-items: center;
            gap: 5%;
        }
        .itemContainer {
            width: 47.5%;
        }
        .imgContainer {
            position: static;
            margin: 0 auto;
        }
    }
}

// INDEX MEDIA QUERY 1150px
@media (max-width: 1150px) {
    // GENERAL STYLING
    .gallery,
    .moreInformation,
    .discovery,
    .searchByStyle {
        padding: 100px 0 100px 0;
    }

    // INDEX HEADER STYLING
    .indexHeader {
        // padding: 30px 0 1px 0;
        height: auto;

        h2 {
            width: 100%;
        }

        .imgContainer {
            display: none;
        }
    }

    // SECTION: LEARN NEW TECHNIQUES STYLING
    .learnNewTechniques {
        .itemContainerFlex {
            flex-flow: column;
            padding: 100px 0 100px 0;
            .indexTextContainer {
                text-align: center;
                max-width: 100%;
            }
        }
        .indexTextContainer {
            order: 2;
        }
        .imgContainer {
            order: 1;
            margin-bottom: 50px;
        }
    }

    // SECTION: MORE INFORMATION STYLING
    .moreInformation {
        .itemContainerFlex {
            flex-flow: column;
            .itemContainer {
                width: 100%;
            }
        }
    }

    // SECTION: DISCOVER STYLING
    .discover {
        .itemContainerFlex {
            flex-flow: column;

            .itemContainer:nth-child(1) {
                order: 1;
            }
            .itemContainer:nth-child(2) {
                order: 2;
            }
            .itemContainer:nth-child(3) {
                order: 4;
            }
            .itemContainer:nth-child(4) {
                order: 3;
                padding: 75px 0 0 0;
            }

            .itemContainer {
                width: 100%;
                padding: 20px 0;

                .indexTextContainer {
                    text-align: center;
                    padding: 5% 0;
                    h4 {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

// INDEX MEDIA QUERY 800px
@media (max-width: 800px) {
    // INDEX HEADER STYLING
    .indexHeader {
        h2 {
            display: none;
        }
    }

    // SECTION: GALLERY STYLING
    .gallery {
        .galleryFlex {
            flex-flow: column;
            gap: 75px;
            align-items: center;
        }
    }
}

// INDEX MEDIA QUERY 550px
@media (max-width: 550px) {
    // MAIN SECTION STYLING
    main {
        // SECTION: LEARN NEW TECHNIQUES STYLING
        .learnNewTechniques {
            .itemContainerFlex {
                padding: 0 0 0 0;
            }
        }
        // GENERAL STYLING
        .learnNewTechniques,
        .gallery,
        .moreInformation,
        .discovery,
        .searchByStyle {
            padding: 50px 0 50px 0;
        }
    }
    // ICON AND ICON CONTAINER STYLING
    .iconContainer {
        width: 40px;
        height: 40px;
        i {
            font-size: 2rem;
        }
    }
}
