@use "./variables" as userV;

// SECTION: LEARN NEW TECHNIQUE STYLES
.learnNewTechniques {
    background-color: userV.$lightSkyBlue;

    .itemContainerFlex {
        padding: 230px 0 125px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tContainer {
            max-width: 66%;
        }
    }
}

// SECTION: GALLERY STYLES
.gallery {
    background-color: userV.$darkTurquoise;
    padding: 6% 0;
    box-sizing: content-box;

    .galleryFlex {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }
}

// SECTION: MORE INFORMATION STYLES
.moreInformation {
    background-color: userV.$lightSkyBlue;
    padding: 5% 0;
    box-sizing: content-box;

    .itemContainerFlex {
        display: flex;
        flex-flow: row wrap;
        gap: 2%;

        .itemContainer {
            display: flex;
            gap: 3%;
            width: 49%;
        }
    }
}

//ICON PLACEHOLDER
.placeHolder {
    width: 55px;
    height: 55px;
    background-color: userV.$turquoiseBlue;
    border-radius: 50%;
    flex-shrink: 0;
}

// SECTION: DISCOVERY STYLES
.discovery {
    background-color: userV.$darkTurquoise;
    position: relative;
    box-sizing: content-box;

    .itemContainerFlex {
        display: flex;
        flex-flow: row wrap;
        gap: 15%;
    }

    .itemContainer {
        width: 42.5%;
        display: flex;
    }

    // STYLING FOR IMG CONTAINER
    .imgContainer {
        position: absolute;
    }
    .imgContainerL {
        left: 0%;
        top: -5%;
    }
    .imgContainerR {
        right: 0%;
        bottom: -5%;
    }

    // STYLING FOR TEXT CONTAINER
    .tContainer {
        padding: 12.5% 2%;
    }
    .itemContainer:nth-child(2) .tContainer {
        text-align: left;
    }
    .itemContainer:nth-child(3) .tContainer {
        text-align: right;
    }
}

// SECTION: BANNER DECORATION STYLING
.banner {
    background: url(../textilee-assets/banner.jpg);
    height: 500px;
}
