@use "./variables" as userV;

// SECTION: LEARN NEW TECHNIQUE STYLES
.learnNewTechniques {
    background-color: userV.$lightSkyBlue;

    .itemContainerFlex {
        padding: 230px 0 125px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tContainer {
            max-width: 66%;
        }
    }
}
