@use "./variables" as userV;

// SECTION: LEARN NEW TECHNIQUE STYLES
.learnNewTechniques {
    background-color: userV.$lightSkyBlue;

    .itemContainerFlex {
        padding: 230px 0 125px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tContainer {
            max-width: 66%;
        }
    }
}

// SECTION: GALLERY STYLES
.gallery {
    background-color: userV.$darkTurquoise;
    padding: 6% 0;
    box-sizing: content-box;

    .galleryFlex {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }
}

// SECTION: MORE INFORMATION STYLES
.moreInformation {
    background-color: userV.$lightSkyBlue;
    padding: 5% 0;
    box-sizing: content-box;

    .itemContainerFlex {
        display: flex;
        flex-flow: row wrap;

        .itemContainer {
            width: 50%;
        }
    }
}
