@use "./variables" as userV;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navBar {
        display: flex;
        gap: 50px;
        li {
            border-bottom: 2px solid rgba(0, 0, 0, 0);
        }
        li:hover,
        li:focus {
            border-bottom: 2px solid userV.$turquoiseBlue;
        }
    }
}
