@use "./variables" as userV;

// NAVIGATION MEDIA QUERY 800px
@media (max-width: 800px) {
    .headerNavStyle {
        z-index: 10;
        position: sticky;
        top: 0%;
        padding: 15px 0;
        background-color: userV.$white;

        // HAMBURGER MENU STYLING
        .hamburgerMenuStack {
            cursor: pointer;
            z-index: 100;
            position: relative;
            height: 25px;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;

            .menuStick {
                height: 3px;
                width: 30px;
                background-color: userV.$textBlack;
            }
        }
        .cover {
            width: 100%;
            height: 100%;

            background-color: userV.$white;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }

        // NAVIGATION LINK (VERTICAL)
        nav {
            .navBar {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: -400px;
                left: 0%;
                width: 100%;
                background-color: userV.$white;
                z-index: 1;
                margin: 0;
                padding: 30px 12%;
                transition: top 1s ease;
            }
        }
    }

    // REVEAL NAVIGATION MENU ON TOGGLE
    #hamburgerMenu:checked ~ .navBar {
        top: 60px;
    }
}
