@use "./variables" as userV;

// WHEN USING REM FOR FONT SIZE, DOES LINE HEIGHT AND LETTER SPACING HAVE TO USE REM TOO?

//TYPOGRAPHY PADDING AND MARGIN
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

// LOGO TYPOGRAPHY
.tLogo {
    color: userV.$logoBlack;
    h1 {
        font-family: "Pacifico", cursive;
        font-size: 3rem;
        line-height: 24px;
        letter-spacing: 1.7px;
        font-weight: 400;
    }
}

.tLogo:visited {
    font-weight: 400;
    color: userV.$logoBlack;
}

// SLOGAN TYPOGRAPHY
.tSlogan {
    font-family: "Pacifico", cursive;
    font-size: 5.8rem;
    line-height: 68px;
    font-weight: 400;
    color: userV.$darkSlateBlue;
}

// NAVIGATION TYPOGRAPHY
.tNav {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: userV.$darkSlateBlue;
    text-transform: uppercase;
}

.tNav:visited {
    color: userV.$darkSlateBlue;
}

// SECTION HEADING TYPOGRAPHY
.tHeading {
    font-family: "Pacifico", cursive;
    font-size: 4.3rem;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: 2.7px;
    margin-bottom: 15px;
}

// SMALLER SECTION TYPOGRAPHY
.tSmallerHeading {
    font-family: "Pacifico", cursive;
    font-size: 4rem;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

// BODY TYPOGRAPHY
.tBody {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

// BUTTON TYPOGRAPHY
.tButton {
    font-family: "Pacifico", cursive;
    font-size: 2.7rem;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 1.4px;
    padding: 2px 30px;
}

// COPYRIGHT TYPOGRAPHY
.tCopyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    color: userV.$white;
    font-weight: 400;
}

// ANCHOR TYPOGRAPHY
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

// TYPOGRAPHY COLOURS
.tBlack {
    color: userV.$textBlack;
}

.tBlue {
    color: userV.$darkSlateBlue;
}

.tWhite {
    color: userV.$white;
}
