@use "./variables" as userV;

// LOGO TYPOGRAPHY
// WHEN USING REM FOR FONT SIZE, DOES LINE HEIGHT AND LETTER SPACING HAVE TO USE REM TOO?

.logoTypography {
    color: userV.$logoBlack;
    text-decoration: none;
    h1 {
        font-family: "Pacifico", cursive;
        font-size: 3rem;
        line-height: 24px;
        letter-spacing: 1.7px;
        font-weight: 400;
    }
}

.logoTypography:visited {
    font-weight: 400;
    color: userV.$logoBlack;
    text-decoration: none;
}

// SLOGAN TYPOGRAPHY
.sloganTypography {
    font-family: "Pacifico", cursive;
    font-size: 5.8rem;
    line-height: 68px;
    font-weight: 400;
    color: userV.$darkSlateBlue;
}

// NAVIGATION TYPOGRAPHY
.navTypography {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 2.9px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: userV.$darkSlateBlue;
    text-decoration: none;
}

.navTypography:visited {
    color: userV.$darkSlateBlue;
    text-decoration: none;
}

// SECTION HEADING TYPOGRAPHY
.sectionHeadingTypography {
    font-family: "Pacifico", cursive;
    font-size: 4.3rem;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: 2.7px;
}

// BODY TYPOGRAPHY
.bodyTypography {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}

// BUTTON TYPOGRAPHY
.buttonTypography {
    font-family: "Pacifico", cursive;
    font-size: 2.7rem;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-decoration: none;
    padding: 0 30px;
}

.buttonTypography:visited {
    text-decoration: none;
}

// COLOUR SELECTION
.tBlack {
    color: userV.$textBlack;
}

.tBlue {
    color: userV.$darkSlateBlue;
}

.tWhite {
    color: userV.$white;
}
