// _variables.scss

// COLOURS
$darkSlateBlue: rgb(26 49 92);
$logoBlack: rgb(30 23 19);
$turquoiseBlue: rgb(12 173 192);
$lightSkyBlue: rgb(204 237 251);
$textBlack: rgb(22 21 21);
$white: rgb(255 255 255);
$darkTurquoise: rgb(33 64 79);
