// _variables.scss

// COLOURS FROM STYLE GUIDE
$logoBlack: rgb(30 23 19);
$textBlack: rgb(22 21 21);
$darkSlateBlue: rgb(26 49 92);
$turquoiseBlue: rgb(12 173 192);
$lightSkyBlue: rgb(204 237 251);
$white: rgb(255 255 255);

// ADDITIONAL COLOURS
$darkTurquoise: rgb(33 64 79);
$waterBlue: rgb(198 217 251);
