html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

.tSlogan {
  font-family: "Pacifico", cursive;
  font-size: 5.8rem;
  line-height: 68px;
  font-weight: 400;
  color: rgb(26, 49, 92);
}

.tLargerHeading {
  font-family: "Pacifico", cursive;
  font-size: 6.8rem;
  line-height: 64px;
  font-weight: 400;
  color: rgb(26, 49, 92);
}

.tHeading {
  font-family: "Pacifico", cursive;
  font-size: 4.3rem;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-bottom: 15px;
}

.tSmallerHeading {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: 2.5px;
}

.tAsideHeading {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  letter-spacing: 2.9px;
  font-weight: 400;
}

.tComments {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  letter-spacing: 4.3px;
  font-weight: 400;
}

.tBody {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.tDate {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.tList {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.tLogo {
  color: rgb(30, 23, 19);
}
.tLogo h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  font-weight: 400;
  z-index: 100;
  position: relative;
}

.tLogo:visited {
  font-weight: 400;
  color: rgb(30, 23, 19);
}

.tNav {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: rgb(26, 49, 92);
  text-transform: uppercase;
}

.tNav:visited {
  color: rgb(26, 49, 92);
}

.tPlaceholder::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
}

.tPlaceholder::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
}

.tPlaceholder:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
}

.tPlaceholder::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
}

.tPlaceholder,
.tPlaceholder::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.tButton {
  font-family: "Pacifico", cursive;
  font-size: 2.7rem;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding: 8px 30px;
  margin: 10px 0;
  display: inline-block;
}

.tContact {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 2.2px;
  margin-bottom: 35px;
}

.tCopyright {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.cBlack {
  color: rgb(22, 21, 21);
}

.cDarkSlateBlue {
  color: rgb(26, 49, 92);
}

.cLightSkyBlue {
  color: rgb(204, 237, 251);
}

.cWhite {
  color: rgb(255, 255, 255);
}

.removeLink {
  color: inherit;
  text-decoration: none;
}

.tMobilePageHeading {
  display: none;
}

html {
  font-size: 62.5%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: black;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .tabletWrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}
img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listStyle {
  margin: 10px 0 10px 30px;
}
.listStyle li {
  list-style: disc;
  padding-left: 5px;
}

h1 {
  display: inline-block;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
nav .navBar li {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
nav .navBar li:hover,
nav .navBar li:focus {
  border-bottom: 2px solid rgb(12, 173, 192);
}

footer {
  text-align: center;
  background-color: rgb(22, 21, 21);
  padding: 10px;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.commentForm input,
.commentForm textarea {
  background-color: inherit;
  padding: 25px;
  border: 1px solid rgb(12, 173, 192);
}
.commentForm input:focus,
.commentForm textarea:focus {
  outline: none;
}
.commentForm .userInformation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}
.commentForm .userInformation input {
  width: 45%;
  border-top: none;
  border-right: none;
  border-left: none;
}
.commentForm textarea {
  resize: none;
}
.commentForm button {
  padding: 9px 0;
  border: none;
}

.fLight input,
.fLight textarea {
  background-color: inherit;
}
.fLight input:focus::-webkit-input-placeholder, .fLight textarea:focus::-webkit-input-placeholder {
  color: rgb(26, 49, 92);
  opacity: 0.9;
}
.fLight input:focus::-moz-placeholder, .fLight textarea:focus::-moz-placeholder {
  color: rgb(26, 49, 92);
  opacity: 0.9;
}
.fLight input:focus:-ms-input-placeholder, .fLight textarea:focus:-ms-input-placeholder {
  color: rgb(26, 49, 92);
  opacity: 0.9;
}
.fLight input:focus::-ms-input-placeholder, .fLight textarea:focus::-ms-input-placeholder {
  color: rgb(26, 49, 92);
  opacity: 0.9;
}
.fLight input:focus::placeholder,
.fLight textarea:focus::placeholder {
  color: rgb(26, 49, 92);
  opacity: 0.9;
}
.fLight .tPlaceholder,
.fLight .tPlaceholder:focus {
  color: rgb(26, 49, 92);
}

.fDark input,
.fDark textarea {
  background-color: rgb(33, 64, 79);
}
.fDark input:focus::-webkit-input-placeholder, .fDark textarea:focus::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.fDark input:focus::-moz-placeholder, .fDark textarea:focus::-moz-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.fDark input:focus:-ms-input-placeholder, .fDark textarea:focus:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.fDark input:focus::-ms-input-placeholder, .fDark textarea:focus::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.fDark input:focus::placeholder,
.fDark textarea:focus::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.fDark .tPlaceholder,
.fDark .tPlaceholder:focus {
  color: rgb(255, 255, 255);
}

.bDark {
  color: rgb(255, 255, 255);
  background: rgb(26, 49, 92);
}

.bDark:visited {
  color: rgb(255, 255, 255);
}

.bLight {
  color: rgb(22, 21, 21);
  background: rgb(198, 217, 251);
}

.bLight:visited {
  color: rgb(22, 21, 21);
}

.imgShadowR {
  -webkit-box-shadow: 15px 15px rgb(12, 173, 192);
          box-shadow: 15px 15px rgb(12, 173, 192);
}

.imgShadowL {
  -webkit-box-shadow: -15px 15px rgb(12, 173, 192);
          box-shadow: -15px 15px rgb(12, 173, 192);
}

.imgLargerShadowR {
  -webkit-box-shadow: 27px 28px 0 -9px rgb(12, 173, 192);
          box-shadow: 27px 28px 0 -9px rgb(12, 173, 192);
}

.imgLargerShadowL {
  -webkit-box-shadow: -27px 28px 0 -9px rgb(12, 173, 192);
          box-shadow: -27px 28px 0 -9px rgb(12, 173, 192);
}

.indexHeader {
  background: url(../textileeAssets/headerHome.jpg) no-repeat;
  padding: 30px 0 0 0;
  height: 755px;
  position: relative;
}
.indexHeader h2 {
  margin: 70px 0;
  width: 575px;
}
.indexHeader .imgContainer {
  position: relative;
  left: 0%;
  width: 100%;
}
.indexHeader .imgContainer img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.learnNewTechniques {
  background-color: rgb(204, 237, 251);
}
.learnNewTechniques .itemContainerFlex {
  padding: 230px 0 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.learnNewTechniques .itemContainerFlex .indexTextContainer {
  max-width: 66%;
}

.gallery {
  background-color: rgb(33, 64, 79);
  padding: 6% 0;
}
.gallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
}

.moreInformation {
  background-color: rgb(204, 237, 251);
  padding: 5% 0;
}
.moreInformation .itemContainerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2%;
}
.moreInformation .itemContainerFlex .itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3%;
  width: 49%;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: rgb(12, 173, 192);
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}
.iconContainer i {
  color: rgb(255, 255, 255);
  font-size: 2.75rem;
}

.discover {
  background-color: rgb(33, 64, 79);
  position: relative;
}
.discover .itemContainerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 15%;
}
.discover .itemContainer {
  width: 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.discover .imgContainer {
  position: absolute;
}
.discover .imgContainerL {
  left: 0%;
  top: -5%;
}
.discover .imgContainerR {
  right: 0%;
  bottom: -5%;
}
.discover .indexTextContainer {
  padding: 12.5% 2%;
}
.discover .itemContainer:nth-child(2) .indexTextContainer {
  text-align: left;
}
.discover .itemContainer:nth-child(3) .indexTextContainer {
  text-align: right;
}

.banner {
  background: url(../textileeAssets/banner.jpg);
  height: 500px;
}

.searchByStyle {
  background-color: rgb(204, 237, 251);
  padding: 10% 0;
  text-align: center;
}
.searchByStyle p {
  margin-bottom: 75px;
}

.blogHeader {
  background: url(../textileeAssets/blogHeader.jpg) no-repeat;
  padding: 30px 0 0 0;
  height: 568px;
  position: relative;
}

.desktopPageHeading {
  margin: 125px 0;
  width: 575px;
}

.blogMain {
  background-color: rgb(204, 237, 251);
  position: relative;
  padding-bottom: 100px;
}

.ourNewCollection {
  background-color: rgb(33, 64, 79);
  width: 62.5%;
  position: relative;
  border-bottom: 10px solid rgb(12, 173, 192);
  border-right: 10px solid rgb(12, 173, 192);
}
.ourNewCollection .imgContainer {
  position: relative;
  top: -150px;
  width: 99.2%;
}
.ourNewCollection .blogTextContainer {
  width: 80%;
  margin: -60px 0 10% 16%;
}

.ourMission {
  background-color: rgb(33, 64, 79);
  width: 22.5%;
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 0 0 20px 20px;
}
.ourMission .imgContainer {
  position: relative;
  top: -15px;
}

.comments {
  width: 60%;
}
.comments h4 {
  padding: 50px 0;
}
.comments h6 {
  margin: 0px 0 10px 0;
}
.comments .userComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  padding: 0 0 50px 0;
}
.comments .userComments .blogTextContainer {
  width: 80%;
}

.contactHeader {
  background: url(../textileeAssets/contactHeader.jpg) no-repeat;
  padding: 30px 0 0 0;
  height: 576px;
}
.contactHeader h2 {
  margin: 125px 0;
  width: 575px;
}

.contactMain {
  background-color: rgb(204, 237, 251);
  position: relative;
}

.contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactFormContainer {
  background-color: rgb(33, 64, 79);
  width: 62.5%;
  padding: 75px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  bottom: 150px;
  right: 5%;
}

.textileeInformation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  right: -3.5%;
  display: inline-block;
}
.textileeInformation .socialMediaFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}
.textileeInformation .socialMediaFlex i {
  color: rgb(26, 49, 92);
  font-size: 2.75rem;
}
.textileeInformation p {
  margin: 30px 0;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .headerNavStyle {
    height: 75px;
    position: relative;
  }
  .headerNavStyle .hamburgerMenuStack {
    right: -95%;
    top: -35px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    height: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerNavStyle .hamburgerMenuStack .menuStick {
    height: 3px;
    width: 30px;
    background-color: rgb(22, 21, 21);
  }
  .headerNavStyle nav {
    display: block;
  }
  .headerNavStyle nav .cover {
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .headerNavStyle nav .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: -250px;
    left: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    margin: 0;
    padding: 30px 12%;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
  }
  #hamburgerMenu:checked ~ .navBar {
    top: 70px;
  }
}
@media (max-width: 1350px) {
  .discover {
    position: static;
  }
  .discover .itemContainerFlex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5%;
  }
  .discover .itemContainer {
    width: 47.5%;
  }
  .discover .imgContainer {
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 1150px) {
  .gallery,
.moreInformation,
.discovery,
.searchByStyle {
    padding: 100px 0 100px 0;
  }
  .indexHeader {
    padding: 30px 0 1px 0;
    height: auto;
  }
  .indexHeader h2 {
    width: 100%;
  }
  .indexHeader .imgContainer {
    display: none;
  }
  .learnNewTechniques .itemContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 100px 0 100px 0;
  }
  .learnNewTechniques .itemContainerFlex .indexTextContainer {
    text-align: center;
    max-width: 100%;
  }
  .learnNewTechniques .indexTextContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .learnNewTechniques .imgContainer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
  .moreInformation .itemContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .moreInformation .itemContainerFlex .itemContainer {
    width: 100%;
  }
  .discover .itemContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .discover .itemContainerFlex .itemContainer:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .discover .itemContainerFlex .itemContainer:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .discover .itemContainerFlex .itemContainer:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .discover .itemContainerFlex .itemContainer:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 75px 0 0 0;
  }
  .discover .itemContainerFlex .itemContainer {
    width: 100%;
    padding: 20px 0;
  }
  .discover .itemContainerFlex .itemContainer .indexTextContainer {
    text-align: center;
    padding: 5% 0;
  }
  .discover .itemContainerFlex .itemContainer .indexTextContainer h4 {
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .indexHeader h2 {
    display: none;
  }
  .gallery .galleryFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 550px) {
  main .learnNewTechniques .itemContainerFlex {
    padding: 0 0 0 0;
  }
  main .learnNewTechniques,
main .gallery,
main .moreInformation,
main .discovery,
main .searchByStyle {
    padding: 50px 0 50px 0;
  }
  .iconContainer {
    width: 40px;
    height: 40px;
  }
  .iconContainer i {
    font-size: 2rem;
  }
}
@media (max-width: 1150px) {
  .blogMain {
    background-color: rgb(33, 64, 79);
    padding: 1px 0;
  }
  .blogHeader {
    padding: 30px 0 1px 0;
    height: auto;
  }
  .blogHeader .desktopPageHeading {
    width: 100%;
  }
  .ourNewCollection {
    padding: 0 0 25px 0;
    width: 100%;
    border: none;
    margin: 0 0 0 0;
  }
  .ourNewCollection .imgContainer {
    position: static;
    margin: 0 auto;
  }
  .ourNewCollection .imgContainer img {
    -webkit-box-shadow: none;
            box-shadow: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ourNewCollection .blogTextContainer {
    width: 100%;
    margin: 50px 0 0 0;
  }
  .ourMission {
    width: 100%;
    position: static;
    padding: 25px 0 100px 0;
  }
  .ourMission .mobileContainerFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ourMission .imgContainer {
    top: 0;
    width: 47.5%;
  }
  .ourMission .blogTextContainer {
    width: 47.5%;
  }
  .comments {
    width: 100vw;
    background-color: rgb(204, 237, 251);
  }
}
@media (max-width: 800px) {
  .blogHeader h2 {
    display: none;
  }
  .mobilePageHeader {
    display: block;
  }
  .ourMission {
    padding: 0 0 50px 0;
  }
  .ourMission .mobileContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .ourMission .imgContainer {
    width: 100%;
  }
  .ourMission .blogTextContainer {
    margin-top: 50px;
    width: 100%;
  }
  .comments {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .contactMain {
    background-color: rgb(33, 64, 79);
    padding: 1px 0;
  }
  .contactHeader {
    padding: 30px 0 1px 0;
    height: auto;
  }
  .contactHeader h2 {
    width: 100%;
  }
  .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10px 0;
  }
  .contactFormContainer {
    margin: 25px 0;
    padding: 0;
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .textileeInformation {
    width: 100vw;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 50px 0 50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(204, 237, 251);
  }
}
@media (max-width: 800px) {
  .contactHeader .desktopPageHeading {
    display: none;
  }
}
@media (max-width: 800px) {
  .commentForm {
    gap: 75px;
  }
  .commentForm .userInformation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .commentForm .userInformation input {
    width: 100%;
  }
  .commentForm input,
.commentForm textarea {
    padding: 15px;
  }
}
@media (max-width: 800px) {
  .tLargerHeading {
    font-size: 4rem;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
  }
  .tMobilePageHeading {
    font-family: "Pacifico", cursive;
    font-size: 4rem;
    letter-spacing: 4.3px;
    font-weight: 400;
    display: block;
    margin: 50px 0;
  }
}
@media (max-width: 500px) {
  .tHeading {
    font-size: 3.8rem;
    line-height: 50px;
  }
  .tBody {
    font-size: 1.8rem;
  }
  .tButton {
    font-size: 2.4rem;
  }
  .tSmallerHeading {
    font-size: 3.5rem;
    line-height: 45px;
  }
  .tCopyright {
    font-size: 1.8rem;
  }
  .tContact {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
  }
}